
//Big tablet to 1200px: from 768pz to 1023px (width smaller that the 1140px row)
@media only screen and (max-width: 1200px){

  .here-text-box{
    width: 100%;
    padding: 0 2%;
  }

  .group{
    padding: 0 2%;
  }

  .meal-photo {
    img {

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}


//Small tablet to big tablets: from 768pz to 1023px
@media only screen and (max-width: 1023px){

  body{
    font-size: $base-font-size - 2px;
  }

  section{
    padding: 60px 0;
  }

  .long-copy{
    width: 80%;
    margin-left: 10%;
  }

  .steps-box{
    margin-top: 10px;

  }

  .works-step{
    margin-bottom: 40px;
    &:last-of-type{
      margin-bottom: 60px;
    }
  }

  .app-screen{
    width: 50%;
  }

  .icon-small{
    width: 17px;
    margin-right: 5px;
  }

  .city-future{
    font-size: 90%;
  }

  .plan-box{
    width: 100%;
    margin-left: 0;
  }

  .plan-price{
    font-size: 250%;
  }

  .contact-form{
    width: 80%;
  }

}

//Small phones to small tablets: from 481pz to 767px
@media only screen and (max-width: 767px){
  body{
    font-size: $base-font-size - 4px;
  }

  section{padding: 30px 0;}

  .group,
  .here-text-box{ padding: 0 4%;}

  .col{
    width: 100%;
    margin: 0 0 4% 0;
  }

  .main-nav{
    display: none;
  }

  .navigation-block{
    align-items: flex-start;
  }

  .mobile-nav-icon{
    display: inline-block;
  }

  .main-nav{
    float: left;
    flex-grow: 1;

    li{
      display: block;
      a:link,
      a:visited{
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
      }
      a:hover{
        padding-bottom: 10px;
      }
    }
  }

  .sticky{

    .main-nav{

      li{
        a,
        a:visited{
          padding: 10px 0;
        }
        a:hover{
          padding-bottom: 10px;
        }
      }
    }

    .mobile-nav-icon{
      i{
        color: #555;
      }
    }

    .logo-black{
      display: block;
    }

    .logo{
      display: none;
    }
  }

  h1{
    font-size: 180%;
  }

  h2{
    font-size: 150%;
  }

  .long-copy{
    width: 100%;
    margin-left: 0;
  }

  .steps-box{
    &:first-child{
    text-align: center;
    }
    .app-screen{
      width: 40%;
    }
  }

  .works-step{
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;

    &:last-of-type{
      margin-bottom: 20px;
    }

    div{
      height: 45px;
      width: 45px;
      margin-right: 15px;
      padding: 4px;
      line-height: normal;
    }
    p{
      align-self: center;
    }
  }

  .footer-nav,
  .social-links{
    float: none;
    width: 100%;
    text-align: center;
  }

}


//Small phones : from 0 to 480px
@media only screen and (max-width: 480px){
  section{
    padding: 25px 0;
  }
  .contact-form{
    width: 100%;
  }

  footer{
    padding: 50px 20px;

    .footer-nav{
      li{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}